
<!DOCTYPE html>
<html lang="en">

  <head>

  <title>Holidog</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>
    
     <body>
      
         <div class="w3-container w3-teal">
              <h1>Challenge of Holidog</h1>
        </div>
         
         <div class="w3-container">
         
             <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Breeds <span class="caret"></span>
              </button>

              <ul id="breeds" class="dropdown-menu" role="menu">
              </ul>
            </div>


            <input type="text" id="optionSelect" readonly> 

             <div> 
                 <button id="vis" type="submit" onclick="myFunction3()" disabled>Visualize</button>
            </div> 
             
             <div class="container">
                 <img id="photoDog"></img>
             </div> 
             
             
       </div> 
         
         
         
         
        <script>
            function myFunction() {

                var requests = [];
                var results = [];

                //var ips = ['localhost:8000'];
                
                var ips = ['https://dog.ceo/api/breeds/list/all'];

                for(var i=0;i<ips.length; i++){
                    requests.push(
                        $.ajax(
                            {url:ips[i],
                            type:'GET',
                            dataType:'json',
                            success:[function(data){
                                //alert(Object.keys(data['message']).length);
                                //alert(data['status']); 
                                
                                for(var j=0;j<Object.keys(data['message']).length;j++){
                                    if(data['message'][Object.keys(data['message'])[j]] == "")
                                        results.push(Object.keys(data['message'])[j]);
                                    else{
                                        //alert(data['message'][Object.keys(data['message'])[j]].length);
                                        for(var j2=0;j2<data['message'][Object.keys(data['message'])[j]].length;j2++){
                                            //alert(data['message'][Object.keys(data['message'])[j]][j2]);
                                            results.push(Object.keys(data['message'])[j] +" "+ data['message'][Object.keys(data['message'])[j]][j2]); 
                                        }
                                    }
                                            
                                }
                            }]
                            }
                        )
                    );
                }

            $.when.apply($,requests).then(function(){
                var res = document.getElementById("breeds").innerHTML;
                //res = "<select>";
                res = ""; 
                if(results.length > 0) {

                    for (var i = 0; i < results.length; i++) {
                        res += '<li id='+results[i]+' onclick=myFunction2(this.id)><a href="#">'+results[i]+" </a></li>";
                        //res += '<option>'+results[i]+'</option>'; 
                    }
                }
                else{
                    res += "<h4>There's no breeds to select</h4>";
                }
                
                //res +="</select>"; 
                //res += '<li><a href="#">'+"Action: "+999+" </a></li>"
                document.getElementById("breeds").innerHTML = res;
            })
            }
            
         function myFunction2(str){
             document.getElementById("optionSelect").setAttribute("value",str); 
             document.getElementById("vis").disabled = false; 
             
         }
            
         function myFunction3(){
             var breedSelected = document.getElementById("optionSelect").getAttribute("value"); 
                    //alert("entro");

                var requests = [];
                var results = [];
                var image = ""; 
                //var ips = ['localhost:8000'];
                
                var ips = ['https://dog.ceo/api/breed/'+breedSelected+'/images/random'];

                for(var i=0;i<ips.length; i++){
                    requests.push(
                        $.ajax(
                            {url:ips[i],
                            type:'GET',
                            dataType:'json',
                            success:[function(data){
                                //alert(Object.keys(data['message']).length);
                                //alert(data['status']);
                                //alert(data['message']); 
                                image = data['message']; 
                                
                               
                            }]
                            }
                        )
                    );
                }

            $.when.apply($,requests).then(function(){
               document.getElementById("photoDog").setAttribute("src",image); 
            })
             
         }
      </script>
         
         <script>
             myFunction();
         </script> 
     
    </body> 
    


</html>
